*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.wrap{
    background-color: #555;
    height: 7500px;
}
header{
    width: 100%;
    height: 80px;
    padding: 0 7%;
    z-index: 2;
    box-shadow: 0 3px 10px #7fff00;
    display: flex;
    animation-name: move1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    justify-content: space-between;
    background-color: #414141;
    position: fixed;
}
::-webkit-scrollbar{
    width: 15px;
    background-color: #555;
}
::-webkit-scrollbar-thumb{
    width: 15px;
    border-radius: 2px;
    background: rgb(127,255,0);
    background: linear-gradient(180deg, rgba(127,255,0,1) 0%, rgba(74,158,43,1) 100%);
}
.projects{
    font-size: 40px;
    margin-left: 30px;
    font-weight: 600;
    margin-top: 36px;
    height: 100%;
    height: 100%;
    color: white;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_image{
    height: 50px;
}
.projects::first-letter{
    /* font-size: 50px; */
    color: #7fff00;
}
.burgerbox{
    height: 100%;
    display: flex;
    align-items: center;
}
.burger{
    width: 50px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burgerRow{
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: white;
}
@keyframes move1{
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 100%;
    }
}
main{
    padding-top: 100px;
    height: 1100px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_top{
    width: 100%;
    height: 330px;
    display: flex;
}
.web_site_card{
    width: 1200px;
    height: 400px;
    margin-top: 120px;
    background-color: #555;
    box-shadow: 0 0 25px black;
    border-radius: 10px;
}
.cardimage{
    height: 330px;
    border-top-left-radius: 10px;
}
.about{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.code{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.code_image{
    position: relative;
    top: 10px;
    height: 30px;
}
.web_site_name{
    font-size: 36px;
    font-weight: 600;
    color: white;
}
.project_description{
    margin-top: 18px;
    color: white;
    font-size: 20px;
}
.futures{
    width: 100%;
    height: 120px;
    padding: 0 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    /**/
}
.futuress{
    width: 100%;
    height: 130px;
    padding: 10px 100px;
    margin-top: 20px;
    display: flex;
    color: white;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
}
.view_Figma_project{
    width: 150px;
    height: 60px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    background-color: #333;
    box-shadow: 0 10px 20px #333;
    cursor: pointer;
}
.view_Figma_project:hover{
    margin-bottom: 5px;
}
.view_Figma_project:active{
    margin-bottom: 0;
}
.css{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: scroll;
    /* background-color: aqua; */
}
.html{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: scroll;
    /* background-color: blue; */
}
.header_text{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 6px;
}
.cssli{
    list-style: none;
    margin-top: 4px;
}
.css::-webkit-scrollbar{
    width: 0;
}
.html::-webkit-scrollbar{
    width: 0;
}
.htmlli{
    margin-top: 4px;
    list-style: none;
}
.mouse{
    margin-left: 87px;
    height: 45px;
    width: 0px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: 20px;
    margin-top: 45px;
    opacity: 0.9;
    background-color: white;
    position: absolute;
    animation-name: move5;
    animation-duration: 8s;
    animation-iteration-count: 1;
}
.mouses_weel{
    height: 8px;
    width: 2px;
    animation-name: move6;
    border-radius: 20px;
    animation-duration: 1s;
    animation-iteration-count: 8;
    background-color: black;
}
@keyframes move5{
    0%{
        width: 25px;
        opacity: 0;
    }
    55%{
        margin-top: -160px;
        opacity: 0;
        margin-left: 5px;
        width: 25px;
    }
    65%{
        opacity: 0.9;
        margin-top: 55px;
        width: 25px;
        margin-left: 5px;
    }
    100%{
        opacity: 0.9;
        margin-top: 55px;
        width: 25px;
        margin-left: 5px;
    }
}
@keyframes move6{
    0%{
        margin-top: 0;
    }
    100%{
        margin-top: 2px;
    }
}
.buttons{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_project{
    width: 150px;
    height: 60px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    background-color: #333;
    box-shadow: 0 10px 20px #333;
    cursor: pointer;
    margin-right: 30px;
}
.view_code{
    width: 150px;
    height: 60px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    background-color: #333;
    box-shadow: 0 10px 20px #333;
    cursor: pointer;
    margin-left: 30px;
}
.view_project:hover{
    margin-bottom: 5px;
}
.view_project:active{
    margin-bottom: 0;
}
.view_code:hover{
    margin-bottom: 5px;
}
.view_code:active{
    margin-bottom: 0;
}
.web_site_card:hover{
    box-shadow: 0 0 50px black;
}
.progress_bar{
    height: 70px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.progress_row_wrapper{
    height: 50px;
    width: 100%;
    padding: 5px 5px;
    border-radius: 12px;
    background-color: #444;
    border: 2px solid #222;
}
.progress_row{
    width: 100%;
    height: 100%;
    background: rgb(0,255,119);
    background: linear-gradient(90deg, rgba(0,255,119,1) 0%, rgba(64,167,26,1) 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row1{
    width: 6.66%;
}
.progress_row2{
    width: 13.3%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row3{
    width: 20%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row4{
    width: 26.66%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row5{
    width: 33.32%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row6{
    width: 40%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row7{
    width: 46.66%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row8{
    width: 53.32%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row9{
    width: 60%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.timep{
    position: absolute;
    left: 47.8%;
    margin-top: 7px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.progress_row10{
    width: 66.66%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row11{
    width: 73.32%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row12{
    width: 82.22%;
    animation-name: move2;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.progress_row13{
    width: 91.5%;
}
@keyframes move2{
    0%{
        width: 100%;
    }
}
@media screen and (max-width:1400px){
    .wrap{
        height: 6500px;
    }
    .web_site_card{
        width: 900px;
        height: 330px;
    }
    .progress_bar{
        margin-top: 50px;
    }
    .timep{
        margin-top: 5px;
    }
    .progress_row_wrapper{
        height: 45px;
    }
    .card_top{
        height: 210px;
    }
    .cardimage{
        height: 260px;
    }
    .web_site_name{
        font-size: 26px;
    }
    .project_description{
        margin-top: 6px;
        font-size: 18px;
    }
    .header_text{
        font-size: 20px;
        margin-bottom: 2px;
    }
    .cssli{
        font-size: 14px;
    }
    .futures{
        height: 85px;
        padding: 0 100px;
    }
    .buttons{
        margin-bottom: 20px;
    }
    .view_Figma_project:hover{
        margin-bottom: 0;
        box-shadow: 0 0 10px #333;
    }
    .view_code:hover{
        margin-bottom: 0;
        box-shadow: 0 0 10px #333;
    }
    .view_project:hover{
        margin-bottom: 0;
        box-shadow: 0 0 10px #333;
    }
    .code_image{
        height: 20px;
    }
    .htmlli{
        font-size: 14px;
    }
    .Figma{
        font-size: 24px;
    }
    main{
        padding-top: 100px;
    }
    header{
        height: 70px;
    }
    .projects{
        margin-top: 28px;
        font-size: 36px;
    }
    .header_image{
        height: 40px;
    }
    .burger{
        width: 40px;
        height: 24px;
    }
    .burgerRow{
        height: 4px;
    }
    @keyframes move5{
        0%{
            width: 25px;
            opacity: 0;
        }
        55%{
            margin-top: -140px;
            opacity: 0;
            margin-left: 0px;
            width: 25px;
        }
        65%{
            opacity: 0.9;
            margin-top: 25px;
            width: 25px;
            margin-left: 0px;
        }
        100%{
            opacity: 0.9;
            margin-top: 25px;
            width: 25px;
            margin-left: 0px;
        }
    }
}
@media screen and (max-width:1000px){
    .projects{
        font-size: 26px;
        padding-top: 8px;
    }
    .web_site_card{
        width: 650px;
        height: 250px;
    }
    main{
        padding-top: 60px;
    }
    .timep{
        margin-top: 5px;
        font-size: 16px;
    }
    .progress_bar{
        margin-top: -25px;
    }
    .progress_row_wrapper{
        height: 40px;
    }
    .card_top{
        height: 210px;
    }
    .cardimage{
        height: 190px;
    }
    .web_site_name{
        font-size: 20px;
    }
    .project_description{
        margin-top: 6px;
        font-size: 14px;
    }
    .header_text{
        font-size: 18px;
        margin-bottom: 2px;
    }
    .cssli{
        font-size: 12px;
    }
    .futures{
        height: 90px;
    }
    .buttons{
        margin-bottom: 20px;
    }
    .view_Figma_project:hover{
        margin-bottom: 0;
        box-shadow: 0 0 10px #333;
    }
    .view_code:hover{
        margin-bottom: 0;
        box-shadow: 0 0 10px #333;
    }
    .view_project:hover{
        margin-bottom: 0;
        box-shadow: 0 0 10px #333;
    }
    .code_image{
        height: 20px;
    }
    .htmlli{
        font-size: 12px;
    }
    .futures{
        height: 80px;
        padding: 0 30px;
        margin-top: 10px;
    }
    .view_project{
        width: 100px;
        height: 45px;
        border-radius: 8px;
        font-size: 12px;
        margin-right: 20px;
    }
    .view_code{
        width: 100px;
        height: 45px;
        border-radius: 8px;
        font-size: 12px;
        margin-left: 20px;
    }
    .code{
        height: 10px;
    }
    .code_image{
        top: 8px;
    }
    .css{
        height: 80px;
    }
    .html{
        height: 80px;
    }
    .futures{
        height: 60px;
    }
    .buttons{
        margin-top: 8px;
    }
    .Figma{
        font-size: 20px;
    }
    .futuress{
        padding: 0 30px;
    }
    .view_Figma_project{
        width: 100px;
        height: 45px;
        border-radius: 8px;
        font-size: 12px;
    }
    .choose_btn{
        width: 130px;
        height: 55px;
        font-size: 16px;
    }
    .all{
        width: 130px;
        height: 55px;
        font-size: 16px;
    }
    .mouse{
        height: 35px;
        padding-top: 8px;
    }
    .mouses_weel{
        height: 6px;
        width: 2px;
    }
    .wrap{
        height: 5300px;
    }
    @keyframes move5{
        0%{
            width: 25px;
            opacity: 0;
        }
        55%{
            margin-top: -140px;
            opacity: 0;
            margin-left: 0px;
            width: 20px;
        }
        65%{
            opacity: 0.9;
            margin-top: 25px;
            width: 20px;
            margin-left: 0px;
        }
        100%{
            opacity: 0.9;
            margin-top: 25px;
            width: 20px;
            margin-left: 0px;
        }
    }
}
@media screen and (max-width:740px){
    main{
        padding-top: 80px;
    }
    .wrap{
        height: 7850px;
    }
    .timep{
        margin-top: 5px;
        left: 43%;
        font-size: 16px;
    }
    .progress_bar{
        margin-top: -105px;
    }
    .progress_row_wrapper{
        height: 40px;
    }
    .card_top{
        flex-direction: column;
        align-items: center;
        height: 510px;
    }
    .web_site_card{
        flex-direction: column;
        align-items: center;
        height: 470px;
        margin-top: 80px;
        width: auto;
    } 
    .about{
        width: 100%;
        margin-top: 20px;
    }
    .cardimage{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .Figma{
        height: 60px;
    }
    .view_Figma_project{
        margin-top: -10px;
        position: relative;
    }
    ::-webkit-scrollbar{
        width: 10px;
    }
}